<script type="text/javascript" src="/stylesheets/script.js"></script>
<script type="text/javascript" src="/stylesheets/ingredients.js"></script>
<script type="text/javascript" src="/stylesheets/savedRecipes.js"></script>
</body>
</html>
