<!DOCTYPE html>
<html>
<head>
	<title>Ethical Eaters</title>
	<!-- links to css page, fonts, bootstrap(css and js), icon website, jquery -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/savedRecipes.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<!-- <script type="text/javascript" src="assets/js/lib/jquery-2.1.4.min.js"></script> -->
	<script defer src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body class="body">
	<!-- main navbar that will be on every page -->
    <nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<ul>
					<a class="navbar-brand logo" href="/">Ethical Eaters</a>
					<a class="navbar-brand" href="/">Home</a>
                    <a class="navbar-brand" href="/ingredients"> Ingredients</a>
                    <a class="navbar-brand" href="/savedRecipes">Saved Recipes</a>
				</ul>
			</div>
			<div>
                <div class="loginButton mr-4">
                    <a data-modallogin-target="#modalLogin" class="navbar-brand loginHeader" href="/login">Login</a>
                    <div class="modalLogin" id="modalLogin">
                        <div class="modalLogin-header">
                            <div class="title">Logging Into Your Account</div>
                                <button data-close-loginButton class="close-LoginButton">&times;</button>
                        </div>
                        <div class=modalLogin-body>
                            By clicking Login, you will be redirected to our Login Page and asked
                            to enter your username and password.
                            <a class="btn btn-outline-secondary" href="/Login">Log In</a>
                        </div>
                    </div>
                    <div id="overlayLogin"></div>
                </div>
                <div class="signUpButton">
                    <a data-modalSignUp-target = "#modalSignUp" class="navbar-brand signUpHeader" href="/signUp">Sign Up</a>
                    <div class="modalSignUp" id="modalSignUp">
                        <div class="modalSignUp-header">
                            <div class="title">Signing Into Your Account</div>
                                <button data-close-SignUpButton class="close-SignUpButton">&times;</button>
                        </div>
                        <div class=modalSignUp-body>
                            By clicking Sign Up, you will be redirected to our Sign Up Page and asked
                            to enter a valid username and password. If successful, you will be redirected to 
                            our a Successful Sign Up Page with the ability to redirect back to the login page to log into your new account.
                            <a class="btn btn-outline-secondary" href="/signUp">Sign Up</a>
                        </div>
                    </div>
                    <div id="overlaySignUp"></div>
                </div>
                <div class="logoutButton">
                    <a class="navbar-brand logoutHeader" href="/logout">Log Out</a>

                </div>
			</div>
		</div>
    </nav>
