<%- include("../partials/header") %>

<div class="mainContainer">

    <div class="leftContainer">

      <button class="accordion">Veggies</button>
      <div class="panel">
        <ul>
          <li class="ing">Brocolli<span class="addIngredient">+</span></li>
          <li class="ing">Lettuce<span class="addIngredient">+</span></li>
          <li class="ing">Cauliflower<span class="addIngredient">+</span></li>
          <li class="ing">Spinach<span class="addIngredient">+</span></li>
          <li class="ing">Celery<span class="addIngredient">+</span></li>
          <li class="ing">Cabbage<span class="addIngredient">+</span></li>
        </ul>
      </div>
   
      <button class="accordion">Meat</button>
      <div class="panel">
        <ul>
          <li class="ing">Chicken<span class="addIngredient">+</span></li>
          <li class="ing">Beef<span class="addIngredient">+</span></li>
          <li class="ing">Pork<span class="addIngredient">+</span></li>
          <li class="ing">Turkey<span class="addIngredient">+</span></li>
          <li class="ing">Lamb<span class="addIngredient">+</span></li>
        </ul>
      </div>
      
      <button class="accordion">Dairy/Dairy Alt</button>
      <div class="panel">
        <ul>
          <li class="ing">Butter<span class="addIngredient">+</span></li></li>
          <li class="ing">Cream<span class="addIngredient">+</span></li></li>
          <li class="ing">Cow Milk<span class="addIngredient">+</span></li></li>
          <li class="ing">Almond Milk<span class="addIngredient">+</span></li></li>
          <li class="ing">Oat Milk<span class="addIngredient">+</span></li></li>
          <li class="ing">Butter<span class="addIngredient">+</span></li></li>
        </ul>
      </div>

      <button class="accordion">Fish</button>
      <div class="panel">
        <ul>
          <li class="ing">Tuna<span class="addIngredient">+</span></li></li>
          <li class="ing">Salmon<span class="addIngredient">+</span></li></li>
          <li class="ing">Catfish<span class="addIngredient">+</span></li></li>
          <li class="ing">Sole<span class="addIngredient">+</span></li></li>
          <li class="ing">Halibut<span class="addIngredient">+</span></li></li>
          <li class="ing">Eel<span class="addIngredient">+</span></li></li>
        </ul>
      </div>

      <button class="accordion">Oil</button>
      <div class="panel">
        <ul>
          <li class="ing">Olive<span class="addIngredient">+</span></li></li>
          <li class="ing">Almond oil<span class="addIngredient">+</span></li></li>
          <li class="ing">Vegetable oil<span class="addIngredient">+</span></li></li>
          <li class="ing">Peanut oil<span class="addIngredient">+</span></li></li>
          <li class="ing">Soya oil<span class="addIngredient">+</span></li></li>
        </ul>
      </div>
    </div>

    
  <div class="rightContainer">
    <div class="recipe">
    <form id="NewRecipeCreateYourOwn">
      <input class="recipeName" type="text", name="recipeName",size="50", maxlength="100" placeholder="Enter Recipe Name" >
      <ul class="recipeIngredients">
      </ul>
      
      <button>save</button>
    </form>
    </div>
  </div>
    </div>
  </div>

  <%- include("../partials/footer") %>