<%- include("../partials/header") %>
<!-- we can imbed our video walk through here -->

<!-- about us section start -->
<section class="text-center">
    <div class="container">
        <h5 class="exampleHeading">Welcome to Ethical Eater!</h5>
        <h1 class="heading">Take a second to learn more about us</h1>
        <p class="lead text-muted">
            Ethical Eaters is a website made for people looking to find way to start eating with ethical ingredients.
        </p>
        <p class="lead text-muted"> How do we do this? </p>
        <p class="lead text-muted">
            
            First, you can choose to select a meal from our list of meals in our Meals tab and see what ingredients go into making that meal,
            next you will be able to see the ingredient description, see its ethical ranking and be able to choose from alternative to substitute into your recipe. 
        </p>
        <p class="lead text-muted">
            Second, you can make your own meals by choosing ingredients from our Ingredients section and see the description + its ethical ranking. If you are logged into your account, then
            your next step will be to save the recipe to your account for later viewing. If you do not have an account or are using a Guest account, we urge you to sign up to unlock this feature!
        </p>
    </div>
</section>
<!-- about us section end -->
<%- include("../partials/footer") %>