<%- include("../partials/header") %>

<div class="mainContainer">

    <div class="topContainer">Ethical Eaters</div>

    <div class="leftContainer">
      <button class="changeDisplay">Click Me To Browse The Menu</button>

      <div class="title">Select A Category<input type="text" id="searchCat" class="searchCat" placeholder="Search for a category"></div>
      
      <button class="accordion ingCat">Grains</button>
      <div class="panel">
        <ul id="Grain">
          <li class="ing" id="Flour">Flour<span class="addIngredient">+</span></li>
          <li class="ing" id="Noodles">Noodles<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
        </ul>
      </div>
      
      <button class="accordion ingCat">Fruit</button>
      <div class="panel">
        <ul id="Fruit">
          <li class="ing" id="Strawberry">Strawberry<span class="addIngredient">+</span></li>
          <li class="ing" id="Raspberry">Raspberry<span class="addIngredient">+</span></li>
          <li class="ing" id="Blueberry">Blueberry<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Tomato">Tomato<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
        </ul>
      </div>

      <button class="accordion ingCat">Veggies</button>
      <div class="panel">
        <ul id="Vegetables">
          <li class="ing" id="Brocolli">Brocolli<span class="addIngredient">+</span></li>
          <li class="ing" id="Lettuce">Lettuce<span class="addIngredient">+</span></li>
          <li class="ing" id="Cauliflower">Cauliflower<span class="addIngredient">+</span></li>
          <li class="ing" id="Spinach">Spinach<span class="addIngredient">+</span></li>
          <li class="ing" id="Celery">Celery<span class="addIngredient">+</span></li>
          <li class="ing" id="Cabbage">Cabbage<span class="addIngredient">+</span></li>
          <li class="ing" id="Garlic">Garlic<span class="addIngredient">+</span></li>
          <li class="ing" id="Onion">Onion<span class="addIngredient">+</span></li>
          <li class="ing" id="Chilies">Chilies<span class="addIngredient">+</span></li>
          <li class="ing" id="Potato">Potato<span class="addIngredient">+</span></li>
          <li class="ing" id="Carrot">Carrot<span class="addIngredient">+</span></li>
        </ul>
      </div>
   
      <button class="accordion ingCat">Meat/Protein</button>
      <div class="panel">
        <ul id="Meat">
          <li class="ing" id="Chicken">Chicken<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Beef">Beef<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Pork">Pork<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Turkey">Turkey<span class="addIngredient">+</span></li>
          <li class="ing" id="Lamb">Lamb<span class="addIngredient">+</span></li>
          <li class="ing" id="Chicken Eggs">Chicken Eggs<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Anchovies">Anchovies<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="BlackBeans">Black Beans<span class="addIngredient">+</span></li>
          <li class="ing" id="Mushroom">Mushroom<span class="addIngredient">+</span></li>
        </ul>
      </div>
      
      <button class="accordion ingCat">Dairy/Dairy Alt</button>
      <div class="panel">
        <ul id="Dairy">
          <li class="ing" id="Butter">Butter<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li></li>
          <li class="ing" id="Cream">Cream<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li></li>
          <li class="ing" id="Sour Cream">Sour Cream<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Cow Milk">Cow Milk<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li></li>
          <li class="ing" id="AlmondMilk">Almond Milk<span class="addIngredient">+</span></li></li>
          <li class="ing" id="OatMilk">Oat Milk<span class="addIngredient">+</span></li></li>
          <li class="ing" id="Cheese">Cheese<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Yogurt">Yogurt<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
        </ul>
      </div>

      <button class="accordion ingCat">Seasoning/Herbs</button>
      <div class="panel">
        <ul id="Seasoning">
          <li class="ing" id="Salt">Salt<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Sugar">Sugar<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Black Pepper">Black Pepper<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Cinnamon">Cinnamon<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Parsley">Parsley<span class="addIngredient">+</span></li>
          <li class="ing" id="MustardPowder">Mustard Powder<span class="addIngredient">+</span></li>
          <li class="ing" id="Olive Oil">Olive Oil<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Cilantro">Cilantro<span class="addIngredient">+</span></li>
          <li class="ing" id="GarlicPowder">Garlic Powder<span class="addIngredient">+</span></li>
          <li class="ing" id="Thyme">Thyme<span class="addIngredient">+</span></li>
          <li class="ing" id="Basil">Basil<span class="addIngredient">+</span></li>
        </ul>
      </div>

      <button class="accordion ingCat">Premade Ingredients/Other</button>
      <div class="panel">
        <ul id="Premade">
          <li class="ing" id="Baking Soda">Baking Soda<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Oats">Oats<span class="addIngredient">+</span></li>
          <li class="ing" id="Bread">Bread<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Tortillas">Flour Tortillas<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
        </ul>
      </div>

    </div>

    <div class="leftContainer2">
      <button class="changeDisplay">Click Me To Browse Ingredients</button>
      <div class="title">Select a Recipe</div>
      <button class="accordion" id="breakfastMeals">Breakfast</button>
      <div class="panel">
          <button class="accordion">Pancakes with Maple Syrup</button>
          <div class="panel">
              <ul>
                  <li class="ing">Flour</li>
                  <li class="ing">Baking Soda</li>
                  <li class="ing">Salt</li>
                  <li class="ing">Sugar</li>
                  <li class="ing">Cow Milk</li>
                  <li class="ing">Eggs</li>
                  <li class="ing">Butter</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Sausage Gravy and Biscuits</button>
          <div class="panel">
              <ul>
                  <li class="ing">Buttermilk Biscuits</li>
                  <li class="ing">Pork</li>
                  <li class="ing">Flour</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Cow Milk</li>
                  <li class="ing">Salt and Pepper</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Cinnamon Oatmeal</button>
          <div class="panel">
              <ul>
                  <li class="ing">Old Fashioned Oats</li>
                  <li class="ing">Cinnamon</li>
                  <li class="ing">Cow Milk</li>
                  <li class="ing">Sugar</li>
                  <li class="ing">Butter</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Stuffed Omelet</button>
          <div class="panel">
              <ul>
                  <li class="ing">Eggs</li>
                  <li class="ing">Cow Milk</li>
                  <li class="ing">Parsley</li>
                  <li class="ing">Mustard Powder</li>
                  <li class="ing">Salt and Pepper</li>
                  <li class="ing">Pork</li>
                  <li class="ing">Cheddar Cheese</li>
                  <li class="ing">Butter</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Breakfast Parfait</button>
          <div class="panel">
              <ul>
                  <li class="ing">Yogurt</li>
                  <li class="ing">Strawberries</li>
                  <li class="ing">Raspberries</li>
                  <li class="ing">Blueberries</li>
                  <li class="ing">Granola</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
      </div>

      <button class="accordion" id="lunchMeals">Lunch</button>
      <div class="panel">
          <button class="accordion">Chicken Caesar Salad</button>
          <div class="panel">
              <ul>
                  <li class="ing">Garlic</li>
                  <li class="ing">Olive Oil</li>
                  <li class="ing">Anchovies</li>
                  <li class="ing">Lemon Juice</li>
                  <li class="ing">Salt and Pepper</li>
                  <li class="ing">Chicken</li>
                  <li class="ing">Italian Bread</li>
                  <li class="ing">Romaine Lettuce</li>
                  <li class="ing">Parmesan Cheese</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Enchiladas</button>
          <div class="panel">
              <ul>
                  <li class="ing">Olive Oil</li>
                  <li class="ing">Onion</li>
                  <li class="ing">Chicken, Beef, or Pork</li>
                  <li class="ing">Green Chilies</li>
                  <li class="ing">Salt and Pepper</li>
                  <li class="ing">Black Beans</li>
                  <li class="ing">Flour Tortillas</li>
                  <li class="ing">Cheddar Cheese</li>
                  <li class="ing">Enchilada Sauce</li>
                  <li class="ing">Cilantro</li>
                  <li class="ing">Sour Cream</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Bacon Lettuce Tomato Sandwich</button>
          <div class="panel">
              <ul>
                  <li class="ing">Bacon</li>
                  <li class="ing">Lettuce</li>
                  <li class="ing">Tomato</li>
                  <li class="ing">Bread</li>
                  <li class="ing">Mayonnaise</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Cheeseburger with French Fries</button>
          <div class="panel">
              <ul>
                  <li class="ing">Beef</li>
                  <li class="ing">Lettuce</li>
                  <li class="ing">Tomato</li>
                  <li class="ing">Cheddar Cheese</li>
                  <li class="ing">Hamburger Bun</li>
                  <li class="ing">Olive Oil</li>
                  <li class="ing">Potato</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Reuben Sandwich</button>
          <div class="panel">
              <ul>
                  <li class="ing">Rye Bread</li>
                  <li class="ing">Butter</li>
                  <li class="ing">Russian Dressing</li>
                  <li class="ing">Swiss Cheese</li>
                  <li class="ing">Corned Beef</li>
                  <li class="ing">Sauerkraut</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
        </div>
      <button class="accordion" id="dinnerMeals">Dinner</button>
      <div class="panel">
          <button class="accordion">Meatloaf and Mashed Potatoes</button>
          <div class="panel">
              <ul>
                  <li class="ing">Beef</li>
                  <li class="ing">Bread Crumbs</li>
                  <li class="ing">Onion</li>
                  <li class="ing">Cow Milk</li>
                  <li class="ing">Eggs</li>
                  <li class="ing">Ketchup</li>
                  <li class="ing">Worcestershire Sauce</li>
                  <li class="ing">Parsley</li>
                  <li class="ing">Salt and Pepper</li>
                  <li class="ing">Garlic Powder</li>
                  <li class="ing">Potato</li>
                  <li class="ing">Butter</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Pot Roast</button>
          <div class="panel">
              <ul>
                  <li class="ing">Olive Oil</li>
                  <li class="ing">Beef Roast</li>
                  <li class="ing">Onion</li>
                  <li class="ing">Garlic</li>
                  <li class="ing">Potato</li>
                  <li class="ing">Carrot</li>
                  <li class="ing">Celery</li>
                  <li class="ing">Thyme</li>
                  <li class="ing">Salt and Pepper</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Steak and Broccoli</button>
          <div class="panel">
              <ul>
                  <li class="ing">Beef Steak</li>
                  <li class="ing">Olive Oil</li>
                  <li class="ing">Broccoli</li>
                  <li class="ing">Mushrooms</li>
                  <li class="ing">Salt and Pepper</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Lamb Chops</button>
          <div class="panel">
              <ul>
                  <li class="ing">Lamb</li>
                  <li class="ing">Salt and Pepper</li>
                  <li class="ing">Thyme</li>
                  <li class="ing">Olive Oil</li>
                  <li class="ing">Garlic</li>
                  <li class="ing">Lemon Juice</li>
                  <li class="ing">Parsley</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
          <button class="accordion">Lasagna</button>
          <div class="panel">
              <ul>
                  <li class="ing">Beef</li>
                  <li class="ing">Onion</li>
                  <li class="ing">Garlic</li>
                  <li class="ing">Tomato</li>
                  <li class="ing">Basil</li>
                  <li class="ing">Salt and Pepper</li>
                  <li class="ing">Noodles</li>
                  <li class="ing">Ricotta Cheese</li>
                  <li class="ing">Eggs</li>
                  <li class="ing">Parmesan Cheese</li>
                  <li class="ing">Mozzarella Cheese</li>
                  <button class="laterReview">Save Receipt</button>
              </ul>
          </div>
    </div>
  </div>
  <div class="rightContainer">
    <div class="recipe">
      <h1 class="recipeName" contenteditable="true">Enter Recipe Name Here</h1>
      <ul class="recipeIngredients">
      </ul>
    </div>
  </div>
  <div class="rightContainer2">
    <div class="ethics">
        <h3>Ethics</h3>
        <ul id=ethics></ul>
    </div>
    <div class="alternatives">
        <h3>Alternatives</h3>
        <h6>Alternatives are ranked on a scale of 1-5 for ethicality, with rank 1 being the worst and 5 being the best in ethicality.</h6>
        <button onclick="sortRank()" title="Click here to sort by rank in descending order.">Sort</button>
        <ul id="alts">
        </ul>
    </div>
  </div>

  <%- include("../partials/footer") %>