<%- include("../partials/header") %>

<div class="mainContainer">

    <div class="topContainer">Ethical Eaters</div>

    <div class="leftContainer">
      <div class="title">Categories</div>
      <button class="accordion">Veggies</button>
      <div class="panel">
        <ul>
          <li class="ing">Brocolli<span class="addIngredient">+</span></li>
          <li class="ing">Lettuce<span class="addIngredient">+</span></li></li>
          <li class="ing">Cauliflower<span class="addIngredient">+</span></li></li>
          <li class="ing">Spinach<span class="addIngredient">+</span></li></li>
        </ul>
      </div>
   
      <button class="accordion">Meat</button>
      <div class="panel">
        <ul>
          <li class="ing">Chicken<span class="addIngredient">+</span></li></li>
          <li class="ing">Beef<span class="addIngredient">+</span></li></li>
          <li class="ing">Pork<span class="addIngredient">+</span></li></li>
          <li class="ing">Turkey<span class="addIngredient">+</span></li></li>
        </ul>
      </div>
      
      <button class="accordion">Dairy/Dairy Alt</button>
      <div class="panel">
        <ul>
          <li class="ing">Butter<span class="addIngredient">+</span></li></li>
          <li class="ing">Cream<span class="addIngredient">+</span></li></li>
          <li class="ing">Cow Milk<span class="addIngredient">+</span></li></li>
          <li class="ing">Almond Milk<span class="addIngredient">+</span></li></li>
          <li class="ing">Oat Milk<span class="addIngredient">+</span></li></li>
          <li class="ing">Butter<span class="addIngredient">+</span></li></li>
        </ul>
      </div>
    </div>

    <div class="rightContainer">
      <div>
        <h1 class="recipeName" contenteditable="true">Recipe Name</h1>
        <ul class="recipeIngredients">
        </ul>
      </div>
    </div>
  </div>

  <%- include("../partials/footer") %>