<%- include("../partials/header") %>

<div class="mainContainer">

    <div class="topContainer">Ethical Eaters</div>

    <div class="leftContainer">
      <button class="changeDisplay">Click Me To Browse The Menu</button>

      <div class="title">Select A Category<input type="text" id="searchCat" class="searchCat" placeholder="Search for a category"></div>
      <button class="accordion ingCat">Veggies</button>
      <div class="panel">
        <ul id="Vegetables">
          <li class="ing" id="Brocolli">Brocolli<span class="addIngredient">+</span></li>
          <li class="ing" id="Lettuce">Lettuce<span class="addIngredient">+</span></li>
          <li class="ing" id="Cauliflower">Cauliflower<span class="addIngredient">+</span></li>
          <li class="ing" id="Spinach">Spinach<span class="addIngredient">+</span></li>
          <li class="ing" id="Celery">Celery<span class="addIngredient">+</span></li>
          <li class="ing" id="Cabbage">Cabbage<span class="addIngredient">+</span></li>
        </ul>
      </div>
   
      <button class="accordion ingCat">Meat</button>
      <div class="panel">
        <ul id="Meat">
          <li class="ing" id="Chicken">Chicken<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Beef">Beef<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Pork">Pork<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li>
          <li class="ing" id="Turkey">Turkey<span class="addIngredient">+</span></li>
          <li class="ing" id="Lamb">Lamb<span class="addIngredient">+</span></li>
        </ul>
      </div>
      
      <button class="accordion ingCat">Dairy/Dairy Alt</button>
      <div class="panel">
        <ul id="Dairy">
          <li class="ing" id="Butter">Butter<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li></li>
          <li class="ing" id="Cream">Cream<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li></li>
          <li class="ing" id="CowMilk">Cow Milk<a onclick="typeFind(this.parentNode.parentNode.id); nameFind(this.parentNode.id)" href="javascript:altGenerator()"><img src="exclamation-mark-png.jpg" class="img1" title="This ingredient has an ethical problem. Clicking on this exclamation point will generate a link to the ethics behind this ingredient, and a list of alternatives sorted by rank."></a><span class="addIngredient">+</span></li></li>
          <li class="ing" id="AlmondMilk">Almond Milk<span class="addIngredient">+</span></li></li>
          <li class="ing" id="OatMilk">Oat Milk<span class="addIngredient">+</span></li></li>
        </ul>
      </div>
    </div>

    <div class="leftContainer2">
      <button class="changeDisplay">Click Me To Browse Ingredients</button>
      <div class="title">Select a Recipe</div>
      <button class="accordion" id="breakfastMeals">Breakfast</button>
      <div class="panel">
          <button class="accordion">Pancakes</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
          <button class="accordion">Biscuits and Gravy</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
          <button class="accordion">Eggs and Bacon</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
          <button class="accordion">Stuffed Omelet</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
      </div>

      <button class="accordion" id="lunchMeals">Lunch</button>
      <div class="panel">
          <button class="accordion">Chicken Caesar Salad</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
          <button class="accordion">Enchiladas</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
          <button class="accordion">Bacon Lettuce Tomato Sandwich</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
          <button class="accordion">Hamburger with French Fries</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
          <button class="accordion">Reuben</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
        </div>
      <button class="accordion" id="dinnerMeals">Dinner</button>
      <div class="panel">
          <button class="accordion">Meatloaf and Mashed Potatoes</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
          <button class="accordion">Pot Roast</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
          <button class="accordion">Steak and Broccoli</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
          <button class="accordion">Lamb Chops</button>
          <div class="panel">
              <ul>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
                  <li class="ing">Ingredient</li>
              </ul>
          </div>
    </div>
  </div>
  <div class="rightContainer">
    <div class="recipe">
      <h1 class="recipeName" contenteditable="true">Enter Recipe Name Here</h1>
      <ul class="recipeIngredients">
      </ul>
    </div>
  </div>
  <div class="rightContainer2">
    <div class="ethics">
        <h3>Ethics</h3>
        <ul id=ethics></ul>
    </div>
    <div class="alternatives">
        <h3>Alternatives</h3>
        <h6>Alternatives are ranked on a scale of 1-5 for ethicality, with rank 1 being the worst and 5 being the best in ethicality.</h6>
        <button onclick="sortRank()" title="Click here to sort by rank in descending order.">Sort</button>
        <ul id="alts">
        </ul>
    </div>
  </div>

  <%- include("../partials/footer") %>