<%- include("../partials/header") %>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Log In</h3>
			</div>
			<div class="card-body">
                <!-- needs action -->
                <div class="d-flex justify-content-center links mb-3">
                    <form action="/"><button class="btn btn-outline-info login_btn mr-3" href="/" role="button" aria-disabled="true">Log In As a Guest</button></form>
                    <button data-modal-target="#modalGuest" class="btn btn-outline-info login_btn ml-2" role="button" aria-disabled="true">Info</button>
                    <div class="modalGuest" id="modalGuest">
                        <div class="modalGuest-header">
                            <div class="title">Signing In as a Guest</div>
                                <button data-close-button class="close-button guestButton">&times;</button>
                        </div>
                        <div class=modalGuest-body>
                            By clicking on this button, you will be logged in as a guest. 
                            This means you will NOT be able to save recipes that you find or create.
                        </div>
                    </div>
                    <div id="overlay"></div>
                </div>
				<form>
					<div class="input-group form-group">
						<div>
							<p><strong>Remember,Username Requirements:</strong></p>
							<p><span>*Username is a minimum of 8 characters in length and only alphanumeric characters (e.g A-Z,a-z,0-9)*</span></p>
						</div>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username" required pattern="[a-zA-Z0-9]+" minlength="8">
						
					</div>
					<div class="input-group form-group">
						<div>
							<p><strong>Remember,Password Requirements:</strong></p>
							<p><span>*Password is a minimum of 8 characters in length and only alphanumeric characters (e.g A-Z,a-z,0-9)*</span></p>
						</div>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" required pattern="[a-zA-Z0-9]+" minlength="8">
					</div>
					<div class="form-group d-flex justify-content-center">
						<button class="btn btn-outline-info float-right login_btn" role="button" aria-disabled="true">Log In</button>
					</div>
				</form>
            </div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="signUp"> Sign up here</a>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include("../partials/footer") %>