<%- include("../partials/header") %>

<script type="text/javascript" src="./stylesheets/meals.js"></script>

<div class="mainContainer">

    <div class="topContainer">Common Meals</div>

    <div class="middleContainer">
        <button class="accordion">Soups</button>
        <div class="panel">
            <button class="accordion">Tomato Soup</button>
            <div class="panel">
                <ul>
                    <li class="ing">Olive Oil</li>
                    <li class="ing">Yellow Onion</li>
                    <li class="ing">Tomato Paste</li>
                    <li class="ing">etc.</li>
                </ul>
            </div>
            <button class="accordion">Clam Chowder</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
            <button class="accordion">Potato Soup</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
            <button class="accordion">Tortilla Soup</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
        </div>

        <button class="accordion">Salads</button>
        <div class="panel">
            <button class="accordion">Greek Salad</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
            <button class="accordion">Caesar Salad</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
            <button class="accordion">Cobb Salad</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
            <button class="accordion">Coleslaw</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
        </div>

        <button class="accordion">Sandwiches/Wraps</button>
        <div class="panel">
            <button class="accordion">Reuben</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
            <button class="accordion">Spinach Wrap</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
            <button class="accordion">Bacon Lettuce Tomato</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
            <button class="accordion">Spicy Fish Wrap</button>
            <div class="panel">
                <ul>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                    <li class="ing">Ingredient</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>