<%- include("../partials/header") %>
<div> 
    <div>
        <p> Saved Recipes </p>
            <div class="container">
                <div class="col-lg-6">
                  <h5>Carbonara</h5>
                  <p class="savedIngredientList"> 
                      <ul>
                          <li>Virgin Olive Oil</li>
                          <li>Pancetta</li>
                          <li>Garlic</li>
                          <li>Eggs</li>
                          <li>Spaghetti</li>
                          <li>Salt</li>
                          <li>Black Pepper</li>
                      </ul>
                  </p>
                </div>
            </div>
        <%}%>
    </div>
</div>
<%- include("../partials/footer") %>