<%- include("../partials/header") %>
<!-- we can imbed our video walk through here -->

<!-- successful sign up section start -->
<section class="text-center">
    <div class="container">
        <h1 class="exampleHeading">Successful! </h1>
        <h5 class="heading">You successfully signed up for an account!</h5>
        <p class="lead text-muted">
            Go ahead and click on the login in button below to sign into your account! 
        </p>
        <a href="/login" class="btn btn-outline-info ">Login</a>
    </div>
</section>
<%- include("../partials/footer") %>
