.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.title {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.addIngredient {
    text-align: center;
    float: right;
    width: 20%;
    height: 10%;
    cursor: pointer;
}

.removeIngredient {
    text-align: center;
    float: right;
    width: 20%;
    height: 10%;
    cursor: pointer;
}

.leftContainer {
    width: 50%;
}

ul, li {
    width: 100%;
}

.ing:hover {
    background-color: #eee;
  }

.leftContainer {
    float: left;
    width: 25%;
    border: 2px solid black;
}

.rightContainer {
    float: left;
    width: 50%;
    border: 2px solid black;
}

.recipeName {
  text-align: center;
}

.topContainer {
  padding: 20px;
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
}