/* header log in / sign up buttons hover */
.navbar-brand{
    color: black !important;
}
.loginButton {
    display: inline-block;
}
.signUpButton{
    display: inline-block;
}
/* login start */
*, *::after, *::before{
    box-sizing: border-box;
}
.modalLogin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.modalLogin.active{
    transform: translate(-50%, -50%) scale(1);
}
.modalLogin-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modalLogin-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modalLogin-header .close-LoginButton{ 
    cursor: pointer;
    border:none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modalLogin-body{
    padding: 10px 15px;
}

#overlayLogin{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

#overlayLogin.active{
    opacity: 1;
    pointer-events: all;
}

/* login ends */

/* sign up starts */
*, *::after, *::before{
    box-sizing: border-box;
}
.modalSignUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.modalSignUp.active{
    transform: translate(-50%, -50%) scale(1);
}
.modalSignUp-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modalSignUp-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modalSignUp-header .close-SignUpButton{ 
    cursor: pointer;
    border:none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modalSignUp-body{
    padding: 10px 15px;
}

#overlaySignUp{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

#overlaySignUp.active{
    opacity: 1;
    pointer-events: all;
}

/* sign up ends */

/* modal guest button */
*, *::after, *::before{
    box-sizing: border-box;
}
.modalGuest {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modalGuest.active{
    transform: translate(-50%, -50%) scale(1);
}
.modalGuest-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modalGuest-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modalGuest-header .close-button{ 
    cursor: pointer;
    border:none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modalGuest-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

/* start of ingredients page */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.title {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.addIngredient {
    text-align: center;
    float: right;
    width: 20%;
    height: 10%;
    cursor: pointer;
}

.removeIngredient {
    text-align: center;
    float: right;
    width: 20%;
    height: 10%;
    cursor: pointer;
}

.leftContainer {
    width: 50%;
}

.ing:hover {
    background-color: #eee;
  }

.ing {
  width: 100%;
}

.leftContainer {
    float: left;
    width: 25%;
    border: 2px solid black;
}

.rightContainer {
    float: left;
    width: 50%;
    border: 2px solid black;
}

.recipeName {
  text-align: center;
}

.topContainer {
  padding: 20px;
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
}
/* ingredients end */ 


/* saved ingredients css start */
.left-side{
    float: left;
    width: 25%;
    border: 2px solid black;
}

.right-side {
    float: left;
    width: 50%;
    border: 2px solid black;
}

.titleName{
    color: black;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}